.DS_Store
.env
.well-known
drush/contrib
README.txt
vendor
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/*.config
web/*.html
web/*.php
web/*.txt
web/core
web/libraries
web/modules/contrib
web/profiles/*.txt
web/profiles/contrib
web/sites/*.txt
web/sites/*/files
web/sites/*/private
web/sites/*/settings.local.php
web/sites/*/settings.php
web/sites/*/settings*.php
web/sites/default/default.*
web/sites/development.*
web/sites/example.*
web/sites/simpletest
web/themes/*.txt
web/themes/contrib
/.editorconfig
/.gitattributes