:root {
  --oa-red: #E31837;
  --oa-grey: #36454F;
  --oa-white: #FFFFFF;
  --oa-dark-red: #650812;
  --oa-light-grey: #E6E7E8;
  --oa-black: #030006;
  --oa-blue: #005596;
  --oa-green: #03733F;

  --oa-red-hover: #D11633;
  --oa-blue-hover: #004B84;
  --oa-green-hover: #036035;

  --text: var(--oa-black);
  --light-text: var(--oa-white);
  --link: var(--oa-blue);
  --link-hover: var(--oa-grey);
  --navbar-background: var(--oa-white);
  --navbar-link: var(--oa-black);
  --navbar-link-hover: var(--oa-red);
  --navbar-toggler: var(--navbar-link);
  --navbar-dropdown: var(--navbar-link);
  --navbar-dropdown-hover: var(--navbar-link-hover);
  --secondary-navbar-background: var(--oa-grey);
  --secondary-navbar-link: var(--light-text);
  --secondary-navbar-link-hover: var(--oa-light-grey);
  --secondary-navbar-toggler: var(--light-text);
  --footer-main-background: var(--oa-grey);
  --footer-sub-background: var(--footer-main-background);
  --footer-text: var(--light-text);
  --footer-link: var(--light-text);
  --footer-link-hover: var(--oa-red);
}
/* set fonts */
.museo-sans{font-family:"museo-sans",sans-serif;}
.museo-slab{font-family:"museo-slab",serif;}

/* standard elements */
html, body { height: 100%; }
body {
  font-size: 1rem;
  color: var(--text);
  font-family: 'museo-sans', sans-serif;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
	.container.main-container { max-width: 80% !important; }
}
.wrapper { flex: 1 0 auto; }
p { line-height: 1.5; }
.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
h1, h3, h5 {
  font-weight: 800;
  font-family: 'museo-slab', serif;
  letter-spacing: 0.02em;
}
h2, h4, h6 {
  font-weight: 800;
  font-family: 'museo-sans', sans-serif;
  letter-spacing: 0.02em;
}
h1, h2 { font-size: 2rem; }
h3, h4 { font-size: 1.5rem; }
h5, h6 { font-size: 1rem; }
a {
  color: var(--link);
  transition: all 0.25s;
}
a:focus, a:hover {
  text-decoration: none;
  color: var(--link-hover);
}
::-moz-selection, ::selection {
  color: var(--light-text);
  background: var(--oa-blue);
  text-shadow: none;
}
img::selection, img::-moz-selection {
  color: var(--light-text);
  background: transparent;
}
.bg-red {
  background-color: var(--oa-red);
  color: var(--light-text);
}
.bg-blue {
  background-color: var(--oa-blue);
  color: var(--light-text);
}
.bg-grey {
  background: var(--oa-grey);
  color: var(--light-text);
}
.bg-light {
  background: var(--oa-light-grey);
  color: var(--text);
}
.bg-green {
  background: var(--oa-green);
  color: var(--light-text);
}
.bg-red a, .bg-blue a, .bg-grey a, .bg-green a { color: var(--light-text); }
.bg-red a:hover, .bg-blue a:hover, .bg-grey a:hover, .bg-green a:hover { color: var(--oa-light-grey); }
.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'museo-sans', sans-serif;
  margin-bottom: 10px;
}
@media screen and (max-width: 575.98px) {
	.btn-sm-block {
	  display: block;
	  width: 100%;
	}
}
.btn-pill { border-radius: 50px !important; }
.btn-sm { padding: 5px 15px; }
.btn-lg { font-size: 16px; padding: 25px 35px; }
.btn-red {
  color: var(--light-text);
  background-color: var(--oa-red);
  border-color: var(--oa-red);
}
.btn-blue {
  color: var(--light-text);
  background-color: var(--oa-blue);
  border-color: var(--oa-blue);
}
.btn-green {
  color: var(--light-text);
  background-color: var(--oa-green);
  border-color: var(--oa-green);
}
.btn-red:hover, .btn-red:focus, .btn-red:active {
  color: var(--light-text);
  background-color: var(--oa-red-hover);
  border-color: var(--oa-red-hover);
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
  color: var(--light-text);
  background-color: var(--oa-blue-hover);
  border-color: var(--oa-blue-hover);
}
.btn-green:hover, .btn-green:focus, .btn-green:active {
  color: var(--light-text);
  background-color: var(--oa-green-hover);
  border-color: var(--oa-green-hover);
}
.btn-outline-red {
  color: var(--oa-red);
  border-color: var(--oa-red);
}
.btn-outline-red:hover, .btn-outline-red:focus, .btn-outline-red:active {
  color: var(--light-text);
  background-color: var(--oa-red);
  border-color: var(--oa-red);
}
.btn-outline-blue {
  color: var(--oa-blue);
  border-color: var(--oa-blue);
}
.btn-outline-blue:hover, .btn-outline-blue:focus, .btn-outline-blue:active {
  color: var(--light-text);
  background-color: var(--oa-blue);
  border-color: var(--oa-blue);
}
.btn-outline-green {
  color: var(--oa-green);
  border-color: var(--oa-green);
}
.btn-outline-green:hover, .btn-outline-green:focus, .btn-outline-green:active {
  color: var(--light-text);
  background-color: var(--oa-green);
  border-color: var(--oa-green);
}
#featuredButtons {
  background: var(--oa-red);
  padding-top: 15px;
  padding-bottom: 15px;
}
#featuredButtons .btn {
  margin: 10px 0px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  font-size: 1.25em;
  border: 4px solid white;
  background: transparent;
  white-space: normal;
  text-align: center;
}
#featuredButtons .btn:hover {
  background: var(--oa-white);
  opacity: 0.9;
  color: var(--oa-red);
}
/* navigation */
.navbar-light {
  --navbar-background: var(--oa-white);
  --navbar-logo: var(--oa-red);
  --navbar-link: var(--oa-black);
  --navbar-link-hover: var(--oa-red);
  --navbar-toggler: var(--navbar-link);
  --navbar-dropdown: var(--navbar-link);
  --navbar-dropdown-hover: var(--navbar-link-hover);
}
.navbar-dark {
  --navbar-background: var(--oa-red);
  --navbar-logo: var(--oa-white);
  --navbar-link: var(--oa-white);
  --navbar-link-hover: var(--oa-black);
  --navbar-toggler: var(--navbar-link);
  --navbar-dropdown: var(--navbar-link-hover);
  --navbar-dropdown-hover: var(--oa-red);
}
.navbar {
  background-color: var(--navbar-background) !important;
  font-family: 'museo-sans',sans-serif;
}
.navbar .container { max-width: 100% !important; }
.navbar-brand > * {
  font-family: 'museo-sans',sans-serif !important;
  font-style: normal;
  font-weight: 400;
}
.navbar-brand h1 { font-size: 2rem; }
.navbar .navbar-brand {
  font-weight: 800;
  color: var(--navbar-link);
}
.navbar .navbar-toggler {
  font-size: 16px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  outline: none !important;
  border-color: none;
  border: none;
  box-shadow: none;
  color: var(--navbar-toggler);
}
.navbar .navbar-nav > li.nav-item > a,.navbar .dropdown-item {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.logo {
  float: left;
  max-width: 350px;
  min-width: 150px;
  width: 100% !important;
  padding: 5px;
  margin: auto 0;
  display: inline-block;
  vertical-align: middle;
  fill: var(--navbar-logo);
}
.navbar li.nav-item a.nav-link {
  color: var(--navbar-link);
  text-decoration: none;
  padding: 5px 15px;
}
.navbar li.nav-item a.nav-link:hover { color: var(--navbar-link-hover); }
.navbar li.nav-item a.dropdown-item:hover { color: var(--navbar-dropdown-hover); }
li.dropdown-item {
  float: left;
  line-height: initial;
  padding: 0;
}
li.dropdown-item a.nav-link {
  display: block;
  padding: 0;
  clear: both;
  line-height: initial !important;
  white-space: nowrap;
}
li.dropdown-item a.nav-link:active { background-color: none !important; }
.dropdown-item:active,.dropdown-item:hover { background-color: transparent; }
.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: none !important;
  overflow: hidden;
  opacity: 0;
}
.navbar-nav > li > .dropdown-menu { margin-top: -1px; margin-right: -1px; }
.dropdown:hover .dropdown-menu {
  max-height: 300px;
  opacity: 1;
  display: block !important;
}
.dropdown-menu-right { right: 0; left: auto; }
.dropdown-menu {
  min-width: 0;
  padding: .5rem 0 .5rem 0;
  text-align: left;
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.fixed-top { position: relative; z-index: 50 !important; }
.fixed-top.scrolled { position: fixed; }
#secondaryNav .navbar-toggler {
  color: var(--secondary-navbar-toggler);
  font-size: 0.6em;
}
#secondaryNav li.nav-item > a {
  font-size: 0.6em;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--secondary-navbar-link);
}
#secondaryNav a.dropdown-item {
  font-size: 0.6em;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#secondaryNav li.nav-item > a:hover { color: var(--secondary-navbar-link-hover); }
#secondaryNav.navbar {
  background-color: var(--secondary-navbar-background) !important;
  height: auto !important;
  width: 100%;
  text-align: center;
  z-index: 51;
}
#secondaryNav.scrolled { min-height: 90px; }
@media screen and (max-width: 991.98px) {
  .navbar .container { max-width:100% !important; }
  .navbar-brand .logo {
    width: 100% !important;
    margin-right: -4rem;
    padding-right: 0;
  }
  @media screen and (max-width: 575.98px) {
    .navbar-brand { margin-right:-7rem; }
    .navbar-brand .logo { width: 100% !important; }
  }
  .navbar li.nav-item a.nav-link { line-height: initial; float: left; }
  .navbar,.navbar-nav {
    background-color: var(--navbar-background);
    margin: 0 !important;
    height: auto !important;
  }
  .navbar-toggler { padding: 0.25rem 0rem; }
  .dropdown .dropdown-menu {
    display: block !important;
    opacity: 1;
    max-height: initial;
    overflow: initial;
  }
  .dropdown-menu .dropdown-item a {
    margin-left: 15px;
    display: block;
    padding: 2px;
    border-radius: 4px;
    padding-left: 5px;
    line-height: initial;
    float: left;
  }
  .navbar li.nav-item a.dropdown-item { color: var(--navbar-link); }
	.navbar li.nav-item a.dropdown-item:hover { color: var(--navbar-link-hover) !important; }
  .dropdown-menu {
    position: relative;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: inherit;
    -webkit-background-clip: initial;
    background-clip: initial;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .navbar-collapse { margin: 0 -1rem; }
  #secondaryNav.navbar li.nav-item a.nav-link { padding: 0px 15px !important; }
  #secondaryNav .navbar,#secondaryNav .navbar-nav { background-color: var(--secondary-navbar-background) !important; }
  #secondaryNav a.dropdown-item { color: var(--secondary-navbar-link); padding: 0px 25px !important; }
}
/* search */
#search {
	width: initial;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
#search:focus {
	width: 400px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}
/* header - banner images, carousel */
header.masthead {
  background: no-repeat center center;
  background-color: var(--oa-grey);
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--oa-grey);
  opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .site-heading {
  padding: 50px 0 45px;
  min-height: 200px;
  color: var(--light-text);
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1,
header.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'museo-sans', sans-serif;
}
@media only screen and (min-width: 768px) {
  header.masthead .page-heading,
  header.masthead .site-heading { padding: 150px 0; min-height: 400px; }
  header.masthead .page-heading h1,
  header.masthead .site-heading h1 { font-size: 80px; }
}
header.carousel-masthead {
  background: no-repeat center center;
  background-color: var(--oa-grey);
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
}
header.carousel-masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--oa-grey);
  opacity: 0.5;
}
header.carousel-masthead .page-heading,
header.carousel-masthead .site-heading {
  color: white;
  text-align: center;
}
header.carousel-masthead .page-heading h1,
header.carousel-masthead .site-heading h1 {
  font-size: 3.5rem;
  margin-top: 0;
}
header.carousel-masthead .page-heading .subheading,
header.carousel-masthead .site-heading .subheading {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
  font-family: 'museo-sans', sans-serif;
}
/* featured icons */
.featured-icons,
.featured-icons a {
  fill: var(--light-text);
  color: var(--light-text);
}
.featured-icons .bg-light,
.featured-icons .bg-light a {
  fill: var(--oa-red);
  color: var(--text);
}
.featured-icons a:hover {
  color: var(--oa-light-grey);
  fill: var(--oa-light-grey);
}
.featured-icons .bg-light a:hover {
  fill: var(--oa-blue);
  color: var(--oa-blue);
}
/* form overrides */
form[id^="views-exposed-form"] .form-checkbox { display: none; }
form[id^="views-exposed-form"] label.option {
  font-size: 10px;
  font-weight: 700;
  padding: 5px 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'museo-sans',sans-serif;
  margin-bottom: 10px;
  background-color: var(--oa-blue);
  border-color: var(--oa-blue);
  color: var(--light-text);
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: .75rem;
}
form[id^="views-exposed-form"] label:hover,
form[id^="views-exposed-form"] label:focus,
form[id^="views-exposed-form"] label:active {
  color: var(--light-text);
  background-color: var(--oa-grey);
  border-color: var(--oa-grey);
  cursor: pointer;
}
form[id^="views-exposed-form"] input:checked + label {
  color: var(--light-text);
  background-color: var(--text);
  border-color: var(--text);
}
/* card overrides */
.img-row .card-img-top {
   width:100%;
   height:12vw;
   object-fit: contain;
}
@media screen and (max-width: 767.98px) {
  .img-row .card-img-top {
     width:100%;
     height:40vw;
     object-fit: contain;
  }
}
.card small { font-size: 0.8rem; }
p.card-text { margin-top: 0; }
.sidebar-ul { margin-bottom: 0px; }
.sidebar-ul > li { font-size: 1em; padding-bottom: 2px; }
.sidebar-ul > li > a {
  color: var(--text);
  cursor: pointer;
  transition: all 0.25s;
}
.sidebar-ul > li > a:hover { color: var(--link); }
.sidebar-ul .fa-bug { font-size: 1.05em !important; }
/* footer */
footer p { margin: 10px 0; }
footer .list-inline { margin: 0; padding: 0; }
.footer .copyright {
  font-size: 14px !important;
  margin-bottom: 0;
  text-align: center;
}
.footer .copyright a { color: var(--footer-link); }
.footer .copyright a:hover { color: var(--footer-link-hover); }
.footer {
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--footer-text);
}
.footer h4 {
  font-weight: 600;
  margin-top: 10px;
  font-family: 'museo-slab', serif;
}
.footer-main { background: var(--footer-main-background); }
.footer-sub {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  background-color: var(--footer-sub-background);
  margin-top: -1px;
}
.footer-sub p { font-size: 13px !important; }
.footer-sub a { transition: all 0.25s; }
.footer-sub a:hover { color: var(--footer-link-hover) !important; }
.footer-main > div.row,
.footer-sub > div.row {
  max-width: 1200px;
  margin: 0 auto;
}
ul.footer-links { list-style: none; }
ul.footer-links li { padding-bottom: 5px; }
ul.footer-links li * {
  color: var(--footer-text);
  text-decoration: none;
  transition: all 0.25s;
}
ul.footer-links li:hover * { color: var(--footer-link-hover); }
.footer-socialmedia { padding-left: 5px; }
.footer-socialmedia i {
  padding-right: 5px;
  font-size: 30px;
  transition: all 0.25s;
  color: var(--footer-text);
}
.footer-socialmedia i:hover { color: var(--footer-link-hover); }
.footer-main {
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
@media screen and (max-width: 767.98px) {
  .footer-main { background-size: 768px; background-position: left bottom; }
}
.list-group > .list-group-item > .fa.fa-chevron-right { float: right; }
.card-columns { column-count: 1; }
@media (min-width: 576px) { .card-columns { column-count: 2; } }
@media (min-width: 768px) { .card-columns { column-count: 2; } }
@media (min-width: 992px) { .card-columns { column-count: 3; } }
@media (min-width: 1200px) { .card-columns { column-count: 3; } }
